.learningOutcome-header {
    margin-bottom: 2.195%;
    .content-title {
        color: #363436;
        font-family: "Proxima Nova W05 Bold";
        font-size: 1.25rem;
        line-height: 18px;
        border-bottom: #FF6600 4px solid;
        width: -webkit-max-content;
        width: max-content;
        margin: 1.644% 0;
    }
    
}



