$font-regular: "Proxima Nova W05 Regular";
$font-bold: "Proxima Nova W05 Bold";
$font-semi-bold: "Proxima Nova W01 Semibold";
$active_colour: #ff6600;
$hover_grey: #F7F8F9;
$panel_bg_grey: #f0f0f0;
$grey-text: #555555CC;
$font-40 : calc(35px + 0.5vw);
$font-30 : calc(25px + 0.315vw);
$font-24 : calc(18px + 0.315vw);
$font-20 : calc(16px + 0.315vw);
$font-18 : calc(16px + 0.1042vw);
$font-16 : calc(14px + 0.104165vw);
$font-14 : calc(12px + 0.1500vw);
$font-12 : calc(10px + 0.1042vw);