<div class="password-form-card" id="forgot-password-con">
    <div class="password-form-card-content">
        <form [formGroup]="forgotpasswordForm" class="forgot-password-form" id="forgot-password-form">
            <div class="lock-icon">
                <img src="assets/images/icons/icon-lock-and-key.svg">
            </div>
            <div class="forgot-card-title" translate="login.forgotPassword.title"></div>
            <div class="forgot-card-subtitle" translate="login.forgotPassword.subTitle"></div>
            <div class="form-group forgot-password-field">
                <input type="text" id="usernameoremail" class="form-control"
                    placeholder="{{ 'login.forgotPassword.usernamePlaceholder' | translate }}"
                    formControlName="usernameoremail">
            </div>
            <app-toast class="forgot-success-toaster" *ngIf="toastr" [message]="toastMessage" [type]="toastType"
                [toastNumber]="200" (toastClick)="closeToast()"></app-toast>
            <div class="login-failed" *ngIf="forgotPasswordErrorResponse"><img
                    src="assets/images/icons/icon-warning-red.svg"><span
                    translate="{{forgotPasswordErrorResponse}}"></span></div>
            <div class="layout pwd-action-btn">
                <a class="login-link" id="forgot-password-form-cancel-btn" routerLink="../../login"><button class="cancel-btn"
                        translate="login.forgotPassword.button.cancel"></button></a>
                <button class="primary-btn" id="forgot-password-form-forgotPassword-btn" translate="login.forgotPassword.button.submit"
                    (click)="forgotPassword()"></button>
            </div>
        </form>
    </div>
</div>