<!-- <ul class="dropdown-menu dropdown-menu-end"> -->
    <li>
        
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        Terms
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <ul>
                            <li>
                                <div class="term">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                                        <label class="form-check-label" for="flexRadioDefault2">
                                          Term 1
                                        </label>
                                      </div>
                                </div>
                                <div class="accordion accordion-flush" id="group">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="group-heading">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#group-collapse" aria-expanded="false" aria-controls="group-collapse">
                                                Group
                                            </button>
                                        </h2>
                                        <div id="group-collapse" class="accordion-collapse collapse" aria-labelledby="group-heading" data-bs-parent="#group">
                                            <div class="accordion-body">
                                                <ul>
                                                    <li>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" value="" id="group1" checked>
                                                            <label class="form-check-label" for="group1">
                                                                Group 1
                                                            </label>
                                                          </div>
                                                    </li>
                                                    <li>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" value="" id="group2" checked>
                                                            <label class="form-check-label" for="group2">
                                                                Group 2
                                                            </label>
                                                          </div>
                                                    </li>    
                                                    <li>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" value="" id="group3" checked>
                                                            <label class="form-check-label" for="group3">
                                                                Group 3
                                                            </label>
                                                          </div>
                                                    </li>
                                                </ul>
                                                
                                            </div>
                                        </div>
                                    </div> 
                                </div>


                                <div class="accordion accordion-flush" id="teams">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="teams-heading">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#teams-collapse" aria-expanded="false" aria-controls="teams-collapse">
                                                Teams
                                            </button>
                                        </h2>
                                        <div id="teams-collapse" class="accordion-collapse collapse" aria-labelledby="teams-heading" data-bs-parent="#teams">
                                            <div class="accordion-body">
                                                <ul>
                                                    <li>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" value="" id="team1" checked>
                                                            <label class="form-check-label" for="team1">
                                                                Team 1
                                                            </label>
                                                          </div>
                                                    </li>
                                                    <li>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" value="" id="team2" checked>
                                                            <label class="form-check-label" for="team2">
                                                                Team 2
                                                            </label>
                                                          </div>
                                                    </li>    
                                                    <li>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" value="" id="team3" checked>
                                                            <label class="form-check-label" for="team3">
                                                                Team 3
                                                            </label>
                                                          </div>
                                                    </li>
                                                </ul>
                                                
                                            </div>
                                        </div>
                                    </div> 
                                </div>
                            </li>
                            <li>
                                <div class="term">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="term2">
                                        <label class="form-check-label" for="term2">
                                          Term 2
                                        </label>
                                      </div>
                                </div>
                            </li>
                            <li>
                                <div class="term">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="term3">
                                        <label class="form-check-label" for="term3">
                                          Term 1
                                        </label>
                                      </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
        </div>
        
    </li>                        
<!-- </ul> -->