<div class="password-form-card" id="reset-password-con">
  <div class="password-form-card-content layout layout-justify-center layout-flex-direction-column">
    <form class="position-relative" [formGroup]="resetPasswordForm" (submit)="onSubmit()" id="reset-password-form">
        <app-toast *ngIf="successToast" [toastNumber]="200" (toastClick)="closeToast()" type="success" id="reset-password-successToast"
        message="{{'login.resetPassword.successfullChanged' | translate}}" class="reset-password-success-toast"></app-toast>
        <app-toast *ngIf="responseStatus===406" [toastNumber]=406 (toastClick)="closeToast()" type="error" id="reset-password-406"
        message="{{'login.resetPassword.errorMsg.oldPasswordError' | translate}}" class="reset-password-error-toast">
      </app-toast>
      <app-toast *ngIf="responseStatus===401" [toastNumber]=401 (toastClick)="closeToast()" type="error" id="reset-password-401"
      message="{{'login.resetPassword.errorMsg.resetFailed' | translate}}" class="reset-password-error-toast"></app-toast>
      <div>
        <img src="../assets/images/icons/icon-enter-password.svg">
      </div>
      <div class="forgot-card-title" translate>{{'login.resetPassword.title'}}</div>
      <div class="new-password-field">
        <div class="form-group layout">
          <input [type]="newPasswordType ? 'text' : 'password'" class="form-control"
          placeholder="{{'login.resetPassword.newPassword' | translate}}" formControlName="newPassword" id="reset-password-newPassword">
          <div class="password-icon">
            <a (click)="newPasswordType = !newPasswordType" id="reset-password-newPasswordType"><img
              [src]="newPasswordType ? '../assets/images/icons/icon-eye.svg' : '../assets/images/icons/icon-eye-strike.svg'"></a>
            </div>
          </div>
          <div class="pasword-policy"
          *ngIf="checkPolicyValidity()">
          <ul>
            <p translate>{{'login.resetPassword.passwordPolicies'}}</p>
            <li *ngFor="let element of passwordPolicyErrors" class="mb8"
            [ngClass]="resetPasswordForm.controls['newPassword'].hasError('required') || resetPasswordForm.controls['newPassword'].hasError(element.errorName)  ? 'val-check-error' :'val-check-success'">
            <img
            [src]="resetPasswordForm.controls['newPassword'].hasError('required') || resetPasswordForm.controls['newPassword'].hasError(element.errorName)  ? '../assets/images/icons/icon-close-red.svg' :'../assets/images/icons/icon-tick-green.svg'"
            class="mr12">
            {{element.errorText | translate}}
          </li>
        </ul>
      </div>
    </div>
    <div class="confirm-password-field">
      <div class="form-group layout">
        <input [attr.disabled]=" (checkPolicyValidity() || resetPasswordForm.get('newPassword')?.value == '' || resetPasswordForm.get('newPassword')?.value == null) ? true : null  " [type]="confirmPasswordType ? 'text' : 'password'" class="form-control"
        placeholder="{{'login.resetPassword.confirmPassword' | translate}}" formControlName="confirmPassword" id="reset-password-confirmPassword">
        <div class="password-icon">
          <a (click)="confirmPasswordType = !confirmPasswordType" id="reset-password-confirmPassword-btn"><img
            [src]="confirmPasswordType ? '../assets/images/icons/icon-eye.svg' : '../assets/images/icons/icon-eye-strike.svg'"></a>
          </div>
        </div>
      </div>
      <div class="layout layout-item-center pwd-doest-match"
      *ngIf="resetPasswordForm.get('confirmPassword')?.errors?.matchPasswordValidator && ( resetPasswordForm.get('confirmPassword')?.value !='' && resetPasswordForm.get('confirmPassword')?.value !=null  && !checkPolicyValidity() )">
      <img src="../assets/images/icons/icon-warning-red.svg">
      <span class="ml8 mr24" translate="">{{'login.resetPassword.errorMsg.passwordDoesntMatch'}}</span>
    </div>
    <div class="layout pwd-action-btn">
      <button class="cancel-btn" (click)="cancelOpertion()" id="reset-password-cancelOpertion" translate>{{'login.resetPassword.button.cancel'}}</button>
      <button type="submit" class="primary-btn" id="reset-password-validFormSubmit" [disabled]="!resetPasswordForm.valid"
      translate>{{'login.resetPassword.button.submit'}}</button>
    </div>
</form>
</div>
</div>
