form{
  width: 100%;
}
.password-form-card {
  height: 100%;
}
.login-form-card-content, .password-form-card-content {
  position: relative;
  border-radius: 8px;
  box-shadow: 0 16px 16px 0 rgba(194, 194, 194, 0.2);
  background-color: #ffffff;
  padding: 16% 12%;
  height: 100%;
}
.password-icon {
  width: 13%;
  background-color: #ebeef6;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 1px solid #e8e8e8;
  border-left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.password-icon a {
  display: flex;
}

/* incorrect credential card css */
/* forgot password screen css */
.forgot-card-title {
  font-size: calc(16px + 0.625vw);
  line-height: 29px;
  font-family: "Proxima Nova W05 Bold";
  text-align: left;
  color: rgba(0, 0, 0, 0.88);
  margin:5.74% 0% 10.52% 0%;
}
.forgot-password-field {
  margin-top: 10.518%;
  margin-bottom: 0px;
  input {
      height: 6.4vh;
      min-height: 48px;
  }
}
.password-form-card .primary-btn {
  margin-left: 4.8%;
}
.new-password-field {
  position: relative;
}
.confirm-password-field {
  position: relative;
}
.confirm-password-field .form-group {
  margin-bottom: 0px;
}
.new-password-field .form-control, .confirm-password-field .form-control {
  height: 6.4vh;
  min-height: 48px;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
.pasword-policy {
  position: absolute;
  top: 52px;
  left: 20%;
  width: 220px;
  padding: 16px;
  background-color: #f8feff;
  z-index: 9;
  box-shadow: -2px 3px 5px 0 rgba(0, 0, 0, 0.04);
  border: solid 1px #e8e8e8;
  border-radius: 4px;
}
.pasword-policy:after {
  content: "";
  height: 10px;
  width: 10px;
  position: absolute;
  background-color: #f8feff;
  top: -5px;
  left: 45%;
  border-top: solid 1px #e8e8e8;
  border-left: solid 1px #e8e8e8;
  transform: rotate(45deg);
  box-shadow: -2px 3px 5px -5px rgba(0, 0, 0, 0.04);
}
.pasword-policy  ul {
  padding-left: 0px;
}
.pasword-policy ul li {
  font-size: 12px;
}
.val-check-success {
  color: #0ba900;
}
.pwd-doest-match {
  font-size: 14px;
  line-height: 1.43;
  text-align: left;
  color: #ff0000;
  margin-top: 10px;
}
.pwd-action-btn {
  margin-top: 7.65%;
  button {
    height: 6.4vh;
    max-height: 60px;
    min-height: 52px;
    font-size: calc(18px + 0.1042vw);
  }
}

/* forgot password screen css */
/* login screen css */
// toaster css
::ng-deep .toast-container {
  width: 100% !important;
  position: relative;
}


