@import "~src/variables";
::ng-deep .add-learning-objective-modal{
    width: 80.677%;
    max-width: 80.677%;
    .modal-content-inner-header {
        min-height: 40px;
        max-height: 62px;
        background: #FFDDB0;
        padding: 1.229% 1.552% 1.358%;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        span {
            font-family: "Proxima Nova W05 Bold";
            font-size: calc(16px + 0.20835vw);
        }
        img {
            cursor: pointer;
        }
    }
    .inner-content {
        padding: 1.5522%;
    }
}
.search-container {
    margin-bottom: 2.195%;
    .lcTitle {
        font-family: "Proxima Nova W05 Bold"; 
        color: #000000;
        font-size: $font-16;
        line-height: 24px;
    }
    .input-group {
        width: 20.8333vw;
        min-width: 150px;
    }
    .form-control {
        border-top-right-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
        max-height: 46px;
    }
    
    .form-control::placeholder {
        font-size: 13px;
        letter-spacing: 0.13px;
        color: #555555;
        opacity: 0.5;
    }
    .btn-primary {
        background-color: #FF6600 !important;
        border-color: #FF6600 !important;
        border-radius: 0px 4px 4px 0px!important;
        height: 5.412vh;
        max-height: 46px;
        min-height: 40px;
    }
    .view-report-btn {
        max-height: 40px;
        border: 1px solid #FF6600;
        border-radius: 4px;
        background: #fff;
        box-shadow: none;
        font-family: "Proxima Nova W05 Regular";
        color: #FF6600;
        padding: 6px 14px;
        font-size: $font-16;
        width: 142px;
        &:hover {
            background: #F6F6F6;
        }
        
    }
    .add-objective-btn {
        border: 1px solid #FF6600;
        border-radius: 4px;
        background: #FF6600;
        box-shadow: none;
        font-family: "Proxima Nova W05 Regular";
        color: #fff;
        font-size: $font-16;
        line-height: 16px;
        padding: 0.601% 1.335%;
        min-height: 36px;
    }
    
}
.level-tabs {
    .nav-tabs {
        margin-bottom: 24px;
        li {
            margin-right: 2.71vw;
            .nav-link  {
                background: 0 0;
                border: 1px solid transparent;
                border-top-left-radius: .25rem;
                border-top-right-radius: .25rem;
                border: 0px;
                color: #AAAAAA;
                padding: 0px;
                font-size: $font-16;
                
            }
            .nav-link.active {
                border-color: transparent; 
                color: #000;
                background-color: #fff;
                border-bottom: 3px solid #FF6600;
                font-family: "Proxima Nova W05 Bold";
            }
            &:last-child {
                margin-right: 0;
            }
        }
        
    }
    .tab-content {
        .empty-container {
            padding: 2%;
        }
        .course-level-container {
            display: flex;
            flex-wrap: nowrap;
            border: 1px solid #CFDAE6;
            border-radius: 8px;
            height: 58vh;
            overflow: auto;
            .learning-outcome-card.selected {
                background: #F7F8F9;
            }
            .learning-outcome-card.opacity {
                opacity: .4;;
            }
            .learning-outcome {
                flex: 1;
                border-right: 1px solid #CFDAE6;
                &:last-child {
                    border-right: 0;
                    .learning-header {
                        border-top-right-radius: 8px;
                    }
                }
                &:first-child {
                    .learning-header {
                        border-top-left-radius: 8px;
                    }
                }
                .learning-body{
                    height: calc(100% - 60px);
                    overflow: auto;
                }
                .learning-header {
                    height: 60px;
                    background: #EBEEF6;
                    padding: 0vw 1.249995vw;
                    
                    div {
                        color: #000000;
                        font-size: $font-16 ;
                        line-height: 24px;
                        font-family: "Proxima Nova W05 Bold";
                    }
                    .create-new-disabled{
                        &:disabled {
                            cursor:not-allowed;
                            background: transparent !important;
                        }
                    }
                    button {
                        color: #FF6601;
                        font-size: $font-12;
                        line-height: 16px;
                        border: none;
                        background: transparent;
                        span {
                            width: 16px;
                            height: 16px;
                            background: #FF6600;
                            color: #fff;
                            display: inline-flex;
                            justify-content: center;
                            align-items: center;
                            font-size: $font-14;
                            border-radius: 4px;
                            margin-left: 8px;
                        }
                    }
                }
                .learning-outcome-card {
                    padding: 0.83333vw 1.249995vw;
                    border-bottom: 1px solid #CFDAE6;
                    cursor: pointer;
                    .learning-outcome-card-header {
                        // padding-right: 16px;
                        flex:1;
                        h4 {
                            font-size: $font-16;
                            line-height: 19px;
                            color: #000000;
                            font-weight: 600;
                            margin-bottom: 8px;
                        }
                    }
                    
                    ::ng-deep p {
                        font-size: $font-16;
                        line-height: 26px;
                        color: #555555;
                        margin-bottom: 0px;
                        p {
                            word-break: break-word !important;
                            margin-bottom: 0px !important;
                        }
                    }
                    .badges {
                        margin-top: 12px;
                        span {
                            min-height: 23px;
                            background: #FFEED1;
                            color: #000;
                            font-size: $font-12;
                            line-height: 15px;
                            border-radius: 32px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding: 0px 12px;
                            
                        }
                        .use-state {
                            color: #4AD395;
                            background: #DDFFF0 ;
                        }
                        .active-state {
                            color: #005FFF;
                            background: #E7F0FF;
                        }
                        .inactive-state{
                            color: #FF0000;
                            background: #FFE6E6;
                        }
                        
                    }
                    .total-links {
                        margin-top: 12px;
                        .total-links-container{
                            display: flex;
                            justify-content: space-between;
                            h6 {
                                color: #FFA000;
                                font-size: $font-14;
                                line-height: 26px;
                            }
                            .unlink-cta{
                                color: #FFA000;
                                font-size: $font-14;
                                text-align: right;
                                opacity: 1;
                            }
                        }
                        
                        .single-link {
                            margin-bottom: 12px;
                            
                            span {
                                display: inline-block;
                                .breadcrum-title{
                                    color: #3341FF;
                                    text-decoration: underline;
                                }
                                img {
                                    width: 20px;
                                    margin-right: 16px;
                                    margin-left: 8px;
                                }
                                &:last-child {
                                    color: #555555CC;
                                    font-size: $font-12;
                                    line-height: 23px;
                                }
                            }
                        }
                    }
                    .learningObjectiveCriteria {
                        margin-bottom: 16px;
                        span {
                            cursor: pointer;
                            font-style: italic;
                            font-size: $font-16;
                            font-weight: bold;
                            color: #fff;
                            width: 20px;
                            height: 20px;
                            background: #4FA8FF 0% 0% no-repeat padding-box;
                            border-radius: 64px;
                            text-align: center;
                            margin-left: 8px;
                            line-height: 11px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                        table {
                            margin-top: 12px;
                            th {
                                color: #FF6600;
                                font-size: $font-12;
                                font-family: "Proxima Nova W05 Regular";
                                padding: 0 0.625vw;
                            }
                            td {
                                color: #000000;
                                font-size: $font-16;
                                padding: 0.625vw;
                                &:first-child {
                                    white-space: nowrap;
                                }
                                &:last-child {
                                    padding-right: 0;
                                }
                                input {
                                    width: 69px;
                                    height: 32px;
                                    border:  0.5px solid #CFDAE6;
                                    border-radius: 8px !important;
                                    font-size: $font-16;
                                    padding: 0vw 0.83333vw !important;
                                    &:disabled {
                                        opacity: 0.5;
                                    }
                                }
                                input.form-field-error{
                                    border: 0.5px solid #FF6600 !important;
                                }
                                
                                .err-container {
                                    color: #FF0000;
                                    font-size: $font-12;
                                    line-height: 15px;
                                    display: flex;
                                    align-self: start;
                                    img{
                                        height: 14px;
                                        margin-right: 4px;
                                    }
                                }
                            }
                        }
                    }
                    
                    .dropdown {
                        
                        .dropdown-toggle {
                            background: transparent;
                            font-size: $font-16;
                            color: #555555;
                            font-family: "Proxima Nova W05 Regular";
                            display: flex;
                            border: none;
                            box-shadow: none;
                            z-index: 9999;
                            &:focus-visible {
                                outline: none;
                            }
                            &:focus {
                                box-shadow: none;
                            }
                            &::after {
                                border: none;
                            }
                        }
                        
                        ul.dropdown-menu {
                            width: 100px;
                            background: #FFFFFF;
                            box-shadow: -8px 16px 20px #babdd324;
                            border: 1px solid #5555550D;
                            opacity: 1;
                            padding: 0;
                            li {
                                a {
                                    font-size: $font-14;
                                    color: #555555;
                                    padding: 5px 16px 4px;
                                    &:hover, &:focus {
                                        background-color: #FFFFFF;
                                    }
                                }
                                
                            }
                        }
                    }
                }
            }
            
        }
    }
}
@media only screen and (max-width: 1450px) {
    .search-container{
        .form-control {
            max-height: 40px;
        }
        .btn-primary{
            max-height: 40px;
        }
    }
}
@media screen and (max-width: 1023px) {
    ::ng-deep .add-learning-objective-modal {
        width: 90%;
        max-width: 90%;
        margin: 0 auto;
    }
}
.custom-tooltip {
    max-width: 341px;
    min-width: 130px;
    background: #363436 0% 0% no-repeat padding-box;
    letter-spacing: 0.29px;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 15px;
    padding: 6px 14px 12px;
    position: absolute;
    left: 36px;
    top: -6px;
    z-index: 9;
    &::before {
        content:'';
        display:block;
        width:0;
        height:0;
        position:absolute;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-right:8px solid black;
        left:-8px;
        top:8px;
    }
}
.custome-tooltip-container {
    position: relative;
    
}

@media screen and (max-width: 1500px) {
    .custom-tooltip {
        min-width: 130px;
    } 
    .learning-header {
        height: 52px;
    }
    
    
    .level-tabs{
        .tab-content {
            .course-level-container {
                .learning-outcome {
                    .learning-outcome-card {
                        .learningObjectiveCriteria {
                            table {
                                tr {
                                    th {
                                        padding: 4px;
                                    }
                                    td {
                                        padding: 4px;
                                        input {
                                            width: 53px !important;
                                        }
                                        .err-container {
                                            color: #FF0000;
                                            font-size: 10px;
                                            line-height: 12px;
                                        }
                                    } 
                                }
                                
                            } 
                        }
                    }
                }
            } 
        }
    }
    
}
@media screen and (min-width: 1501px) {
    .custom-tooltip {
        min-width: 200px;
    } 
}