<div class="player-content mb24" id="scrom-con" [ngClass]="{
    'fullscreen-mode': isFullScreen
  }">
  <div class="player player-audio">
    <div class="player-header row m-0" id="scrom-player-header" *ngIf="showHeaderFooter"
      (mouseover)="showHideToolBars(true)" (mouseout)="showHideToolBars(false)">
      <div class="col-2 col-sm-2 col-md-2 col-lg-4 px-0">
      </div>
      <div class="col-3 col-sm-3 col-md-5 col-lg-4 text-center zoom-btn">
        <button (click)="zoom('negative')" id="scrom-zoom-negative" [disabled]="zoomValue === 25"><img
            src="assets/images/icons/content-player/icon-zoom-out.svg" /></button>
        <span class="zoom-percentage">{{zoomValue}}%</span>
        <button (click)="zoom('positive')" id="scrom-zoom-positive" [disabled]="zoomValue === 200"><img
            src="assets/images/icons/content-player/icon-zoom-in.svg" /></button>
      </div>
      <div class="col-7 col-sm-7 col-md-5 col-lg-4 px-0 layout layout-item-center layout-item-end flex-sm-wrap">
        <button class="bookmark-btn" id="scrom-toggleBookmark" (click)="toggleBookmark()">
          <img *ngIf="bookmarked; else unBookmarkedState"
            src="assets/images/icons/content-player/icon-bookmark-filled.svg" />
          <ng-template #unBookmarkedState>
            <img src="assets/images/icons/content-player/icon-bookmark.svg">
          </ng-template>
          <div translate="admin.learningCenter.bookmark"></div>
        </button>
        <button class="download-btn" id="scrom-download-btn" *ngIf="elementData.allowDownload"
          (click)="downloadFile()"><img src="assets/images/icons/content-player/icon-download.svg">
          <div>Download</div>
        </button>
        <button class="prev-btn" id="scrom-prev-btn" mat-raised-button #tooltip="matTooltip"
          [matTooltip]="elementData.previousElement !== null ? elementData.previousElement.title : ''"
          [matTooltipPosition]="position.value"
          aria-label="Button that displays a tooltip that hides when scrolled out of the container"
          (click)="getPreviousElement()" [disabled]="!elementData.previousElement">Prev</button>
        <button class="next-btn" id="scrom-next-btn" mat-raised-button #tooltip="matTooltip"
          [matTooltip]="elementData.nextElement != null ? elementData.nextElement.title : ''"
          [matTooltipPosition]="position.value"
          aria-label="Button that displays a tooltip that hides when scrolled out of the container"
          (click)="getNextElement()" [disabled]="!elementData.nextElement">Next</button>
      </div>
    </div>
    <div class="iframe-holder" id="scrom-iframe-holder" (mouseover)="showHideToolBars(true)"
      (mouseout)="showHideToolBars(false)">
      <iframe #iframeHolder class="iframe-content" src=""></iframe>
    </div>

    <div class="player-footer row m-0" id="scrom-player-footer" *ngIf="showHeaderFooter"
      (mouseover)="showHideToolBars(true)" (mouseout)="showHideToolBars(false)">
      <div class="col-3 col-sm-3 col-md-2 col-lg-4 px-0"></div>
      <div class="col-3 col-sm-3 col-md-5 col-lg-4 text-center">
      </div>
      <div class="col-6 col-sm-6 col-md-5 col-lg-4 px-0 layout layout-item-center layout-item-end flex-sm-wrap">
        <button class="rotate-btn" id="scrom-rotate-btn"><img src="assets/images/icons/content-player/icon-rotate.svg"
            (click)="rotate()">
          <div>Rotate</div>
        </button>
        <button class="fit-btn" id="scrom-fit-btn" *ngIf="!isFullScreen" (click)="toggleToWidth()">
          <img
            [src]="fitToWidth ? 'assets/images/icons/content-player/icon-fit-to-width.svg ' : 'assets/images/icons/content-player/icon-exit-fit-to-width.svg'">
          <div>{{fitToWidth ? 'Fit to Width ' : 'Default View'}}</div>
        </button>
        <button class="fullscreen-btn" id="scrom-fullscreen-btn" (click)="isFullScreen= !isFullScreen"><img
            [src]="isFullScreen ? 'assets/images/icons/content-player/icon-exit-full-screen.svg' : 'assets/images/icons/content-player/icon-fullscreen.svg'">
          <div>{{isFullScreen ? 'Exit Full Screen' : 'Full Screen'}}</div>
        </button>
      </div>
    </div>



  </div>

</div>
<div class="content-player-tab">
  <ul class="nav nav-tabs" id="scrom-myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="overview-tab" [ngClass]="{'active': activeTab === 'overview'}" data-bs-toggle="tab"
        data-bs-target="#overview" type="button" (click)="changeTab('overview')" role="tab" aria-controls="overview"
        aria-selected="true" translate="admin.learningCenter.overview"></button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="createNote-tab" data-bs-toggle="tab" data-bs-target="#createNote" type="button"
        (click)="changeTab('notes')" [ngClass]="{'active': activeTab === 'notes'}" role="tab" aria-controls="createNote"
        aria-selected="false" translate="admin.learningCenter.notes"></button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="qna-tab" data-bs-toggle="tab" data-bs-target="#shared" type="button" role="tab"
        (click)="changeTab('shared')" aria-controls="shared" aria-selected="false" translate="admin.learningCenter.qA"
        [routerLink]="['qna']" routerLinkActive="active" queryParamsHandling="preserve"></button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="rating-tab" data-bs-toggle="tab" data-bs-target="#shared" type="button"
        (click)="changeTab('shared')" role="tab" aria-controls="shared" aria-selected="false"
        translate="admin.learningCenter.rating" [routerLink]="['ratings']" routerLinkActive="active"
        queryParamsHandling="preserve"></button>
    </li>
  </ul>
  <div class="tab-content mt24" id="myTabContent">
    <div class="tab-pane fade" [ngClass]="{'show active': activeTab === 'overview'}" id="overview" role="tabpanel"
      aria-labelledby="overview-tab">
      <div class="course-overview">
        <div class="course-overview-title">
          {{elementData.title}}
        </div>
        <div class="course-overview-description">
          <p [innerHtml]="elementData.description | safe: 'html'"></p>
          <!-- <p>{{elementData.createdOn}}</p> -->
        </div>
      </div>
    </div>
    <div class="tab-pane fade" [ngClass]="{'show active': activeTab === 'notes'}" id="createNote" role="tabpanel"
      aria-labelledby="createNote-tab">
      <app-notes-right-pane
        [configurationOfNotes]='{isCreateNotesRequired : true, relatedNotesDashboard: false, contentPlayerView: true, contentPlayerRelatedNotes: true, type: contentTypes.SCORM, height: "auto"}'>
      </app-notes-right-pane>
    </div>
    <div class="tab-pane fade" id="notes" role="tabpanel" aria-labelledby="notes-tab">..pr.</div>
    <div class="tab-pane fade" [ngClass]="{'show active': activeTab === 'shared'}" id="shared" role="tabpanel"
      aria-labelledby="shared-tab">
      <router-outlet (activate)="onRouterActivate($event)"></router-outlet>
    </div>
  </div>
</div>