.progress-header {
    height: 40px;
    background: #EBEEF6;
    border-radius: 8px 8px 0px 0px;
    opacity: 1;
    padding: 8px 24px;
    h5 {
        color: #000000;
        font-family: "Proxima Nova W05 Bold";
        font-size: 18px;
        line-height: 18px;
        margin-bottom: 0px;
    }
    img {
        cursor: pointer;
    }
    .dropdown-toggle {
        background: transparent; 
        box-shadow: none; 
        border: 0px solid #55555533;
        border-radius: 0px; 
    }
    
    .dropdown-menu {
        padding: 4px 0px;
        width: 200px;
        max-height: 280px;
        overflow-y: auto;
        
    }
    
}