@import "./variables.scss";
/* login screen css */
.login-form-card {
    width: 100%;
}
.login-form-card-content {
    position: relative;
    border-radius: 8px;
    box-shadow: 0 16px 16px 0 rgb(194 194 194 / 20%);
    background-color: #ffffff;
    padding: 60px 60px;
}
.login-welcome-container {
    width: 100%;
}
.login-card-title {
    font-size: calc(28px + 1.25vw);
    font-family: "Proxima Nova W05 Bold";
    line-height: 100%;
    text-align: left;
    color: rgba(0, 0, 0, 0.88);
    margin-left: 5%;
    word-break: break-word;
}
.login-card-subtitle {
    font-size: calc(16px + 0.625vw);
    line-height: 34px;
    text-align: left;
    color: rgba(0, 0, 0, 0.88);
    width: 100%;
    margin-left: 5%;
    margin-top: 2%;
    font-family: "Proxima Nova W05 Regular";
    word-break: break-word;
    ::ng-deep p {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        margin-bottom: 0px !important;
    }
}
.login-form-fields {
    position: relative;
}
.login-form-card .form-group {
    margin-bottom: 5%;
}
.login-form-card .form-control {
    height: 6.4vh;
    min-height: 48px;
}
.login-username-field {
    margin-top: 20px;
    margin-top: 11.5%;
}
.login-password-field .form-control, .login-password-field .form-control:focus {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-right: 0px !important;
}
.password-icon {
    width: 6.4vh;
    background-color: #ebeef6;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 1px solid #e8e8e8;
    border-left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.login-btn {
    width: 100% !important;
    height: 6.4vh;
    max-height: 60px;
    min-height: 52px;
    margin-top: 11%;
    font-size: calc(18px + 0.1042vw);
}
.contact-tech-support {
    margin-top: 9.4%;
    text-align: center;
    line-height: 1.43;
    font-size: clamp(14px, 2vw, 16px);
    color: #1f1f1f;
    width: 100%;
    ::ng-deep p {
        margin-bottom: 0px !important;
        word-break: break-word;
    }
}
.login-failed-toast {
    position: absolute;
    padding: 16px 16px 14px 16px;
    border-radius: 4px;
    box-shadow: 0 0 8px 0 rgb(198 198 198 / 30%);
    background-color: #ffdcdc;
    color: #ff4646;
    font-size: 14px;
    line-height: 1.13;
    top: 62px;
    left: 0;
    margin: 0px 60px;
}
.login-success-toast {
    position: absolute;
    padding: 13px 16px 13px 16px;
    box-shadow: -2px 3px 6px 0 rgb(194 194 194 / 16%);
    border-radius: 4px;
    background-color: #dbffd9;
    color: #0ba900;
    font-size: 14px;
    line-height: 1.13;
    top: 62px;
    left: 0;
    margin: 0px 60px;
}
/* incorrect credential card css */
.incorrect-credentials {
    position: absolute;
    right: 0;
    bottom: 60px;
    height: 56px;
    padding: 16px 16px 18px 16px;
    box-shadow: 0 0 8px 0 rgb(198 198 198 / 45%);
    border-radius: 4px;
    background-color: #ffdcdc;
    font-size: 14px;
    line-height: 1.43;
    text-align: left;
    color: #ff0000;
}
/* incorrect credential card css */
.login-form-card {
    height: 100%;
}
.login-form-card-content {
    padding: 16% 12%;
    font-family: "Proxima Nova W05 Regular";
}
.form-check label {
    font-size: clamp(14px, 2vw, 16px);
}
.forgotPwd-link {
    font-size: clamp(14px, 2vw, 16px);
}
.login-form-card .form-control, .login-form-card .form-control::placeholder {
    padding: 1%;
}
.login-password-field {
    margin-bottom: 2% !important;
}
.hand-icon img {
    height: 6.2vh;
    width: 5vh;
}
.mobile-device{
    display: none;
}
@media only screen and (min-width: 1920px) {
    .login-username-field {
        margin-top: 10.5%;
    }
    
    .password-icon a {
        line-height: 30px;
    }
    .login-btn {
        height: 6.4vh;
    }
}
@media only screen and (min-width: 1366px) and (max-width: 1919px) {
    .login-form-card-content {
        padding: 12.95% 12.95%;
    }        
    .hand-icon img {
        height: auto;
        width: auto;
    }                                    
}

@media only screen and (min-width: 1024px) and (max-width: 1365px) {
    /* login css */
    .login-layout-card{
        margin-top: 0px;
    }
    
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    
    .login-form-card {
        width: 80%;
        margin: 0 auto;
        .login-form-card-content{
            border-radius: 32px;
            .form-control{
                border-radius: 30px !important;
                color: #939DB8 !important;
                border-right: 1px !important;
                border:solid 1px #e8e8e8 !important;
            }
            .password-icon{
                position: absolute;
                right: 0;
                bottom: 0;
                top: 0;
                border-top-right-radius: 30px;
                border-bottom-right-radius: 30px;
            }
            .login-btn-block{
                margin-left: 10%;
                margin-right: 10%;
                .login-btn{
                    border-radius: 30px !important;
                }
            }
        }
    }
    .login-form-card-content,
    .password-form-card-content {
        
        width: 100%;
    }
    .login-card-title {
        line-height: normal;
    }
    .login-card-subtitle {
        display: none;
        line-height: normal;
    }
    .mobile-device{
        display: block;
    }
    .login-welcome-container{
        width: auto;
    }
    .layout-item-flex-start{
        justify-content: center;
    }
    .login-toast-error{
        top:-320px;
        height: 56px !important;
        background:none !important;   
        ::ng-deep #toast-container.toast-container{
            min-width: 100%;
            height: 56px !important;
            .toast-error{
                width: 100% !important;
                background:#DB3232 !important;
                color: #fff !important;
                .toast-message{
                    font-size: $font-16;
                }
                .toast-close-button{
                    top:-10px !important;
                    font-size: $font-24 !important;
                }
            }
        }
    }
   
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
    
    /* login css */
    .login-form-card,
    .password-form-card {
        flex: 100%;
        width: 100%;
    }
    .login-form-card-content,
    .password-form-card-content {
        width: 100%;
        padding: 0px;
        box-shadow: none;
        background-color: transparent;
    }
    .login-card-title {
        line-height: normal;
    }
    .login-card-subtitle {
        line-height: normal;
    }
    .login-form-card-content .custom-control-label::before {
        top: 0rem;
    }
    .login-failed-toast,
    .login-success-toast {
        width: auto;
        top: 32px;
        left: 0;
        margin: 0px 16px;
        font-size: 10px;
    }
    .incorrect-credentials {
        margin: 19px 0 7.4px 0px;
    }
    /* login css */
}
/* media queries */

