<!--<div class="content-area" id="learning-center-content-area">
  <div class="content-area-header" [ngClass]="{'hide-element': previewModeOfTree}">
    <div *ngIf="view != 'student'" class="row course-and-class">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-end">
        <div class="dropdown">
          <button class="dropbtn layout layout-item-center layout-justify-space-between dropdown-toggle" type="button"
            id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="layout"><img class="mr8" src="assets/images/icons/icon-book.svg"> BBA</span>
            <img src="assets/images/icons/icon-arrow-down.svg"> </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item">Action</a></li>
            <li><a class="dropdown-item">Another action</a></li>
            <li><a class="dropdown-item">Something else here</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div *ngIf="view == 'student'" class="row mb24">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-end">
        <div class="dropdown">
          <button class="dropbtn layout layout-item-center layout-justify-space-between dropdown-toggle" type="button"
            id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="layout"><img class="mr8" src="assets/images/icons/icon-book.svg"> BBA</span>
            <img src="assets/images/icons/icon-arrow-down.svg"> </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item">Action</a></li>
            <li><a class="dropdown-item">Another action</a></li>
            <li><a class="dropdown-item">Something else here</a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>-->

<router-outlet></router-outlet>
